{% extends 'base.html.twig' %}

{% block body %}

<!-- section bg f7f7f7 -->
<header>

    <div class="container">
        <div class="site-header">
            <div class="container">
                <a href="{{ path('homepage') }}"><span class="site-logo disable-select">eSPa</span></a>

                <div class="header-contacts">

                    <hr class="box-separator" />
                    <div class="contact-box">
                        <a class="contact-box-icon" href="tel:+48943120867" style="text-decoration: none;">
                            <i class="fa fa-phone"></i>
                            <div class="contact-box-text phone-text">
                                <div class="contact-box-head">TELEFON</div>
                                <div class="contact-box-title">+48 94 312 0867</div>
                            </div>
                        </a>
                    </div>
                    <hr class="box-separator" />
                    <div class="contact-box email">
                        <div class="contact-box-icon">
                            <i class="fa fa-envelope"></i>
                            <div class="contact-box-text">
                                <div class="contact-box-head">EMAIL</div>
                                <div class="contact-box-title">espa@espa.com.pl</div>
                            </div>
                        </div>
                    </div>
                    <hr class="box-separator" />
                    <div class="contact-box">
                        <div class="contact-box-icon">
                            <i class="fa fa-home"></i>
                            <div class="contact-box-text">
                                <div class="contact-box-title">Hoffmanowej 1A</div>
                                <div class="contact-box-title">78-200 Białogard</div>
                            </div>
                        </div>
                    </div>
                    <hr class="box-separator" />

                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-full m-shadow-menu" data-toggle="sticky-onscroll">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            MENU <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-toggleable-md" id="collapsingNavbar">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link" href="{{ path('homepage') }}">
                    <i class="fa fa-home"></i>
                </a>
                <a class="nav-item nav-link" href="{{ path('about') }}">O NAS</a>
                <a class="nav-item nav-link" href="#">USŁUGI</a>
                <a class="nav-item nav-link" href="#">REALIZACJE</a>
                <a class="nav-item nav-link" href="{{ path('contact') }}">KONTAKT</a>
            </div>
        </div>
    </nav>

</header>

{% block content %}{% endblock %}

<footer class="container-fluid" style="margin-top: 4rem;">
    <div class="row">

        <div class="col-xs-12 col-md-3">
            <div class="hr-line">
                <i class="fa fa-map-marker footer-icon m-shadow"></i>
            </div>
            <p>P.P.U. "eSPa"</p>
            <p>Paweł Szumski</p>
            <p>ul. Klementyny Hoffmanowej 1A</p>
            <p>78-200 Białogard</p>
            <p><i class="nip">NIP</i> 672-100-60-88</p>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="hr-line">
                <i class="fa fa-phone footer-icon m-shadow"></i>
            </div>
            <p><span class="text-muted">tel:</span> +48 (94) 312 0867</p>
            <p><span class="text-muted">fax:</span> +48 (94) 312 5539</p>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="hr-line">
                <i class="fa fa-envelope footer-icon m-shadow"></i>
            </div>
            <p>espa@espa.com.pl</p>
            <p><span class="text-muted">biuro:</span> office@espa.com.pl</p>
            <p><span class="text-muted">sprawy techniczne:</span> tech@espa.com.pl</p>
            <p><span class="text-muted">zamówienia:</span> zamowienia@espa.com.pl</p>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="hr-line">
                <i class="fa fa-user-secret footer-icon m-shadow"></i>
            </div>
            <h4>Karol Szumski</h4>
            <p>k.szumski@espa.com.pl</p>
            <h4>Paweł Szumski</h4>
            <p>p.szumski@espa.com.pl</p>
        </div>

    </div>

    <div class="row bg-elegant copyright">
        © Copyrights 2016 eSPa.
    </div>
</footer>

{% endblock %}