{% extends 'base.html.twig' %}

{% block body %}

<!-- section bg f7f7f7 -->
<header>
    <div class="container">

        <div class="row">
            <div class="site-header">
                <div class="col-md-4">
                    <span class="site-logo">eSPa</span>
                    <!--<span class="pull-md-left site-motto">Narzędzia i Oprzyrządowanie</span>-->
                </div>
                <div class="col-md-8 text-xs-right">
                    <div class="hidden-sm-down site-contact phone">
                        <i class="fa fa-phone fa-fw"></i>
                        <h4>TELEFON</h4>
                        <p>+48 (94) 312 08 67</p>
                    </div>
                    <div class="hidden-sm-down site-contact email">
                        <i class="fa fa-envelope"></i>
                        <h4>EMAIL</h4>
                        <p>espa@espa.com.pl</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-light bg-faded" data-toggle="affix">
                <!-- sm-up -->
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    MENU &#9776;
                </button>

                <!--<a class="navbar-brand" href="#"><i class="fa fa-angle-double-up"></i> eSPa</a>-->

                <div class="collapse navbar-toggleable-md text-xs-center" id="collapsingNavbar"> <!-- xs -->
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link" href="#">O NAS</a>
                        <a class="nav-item nav-link" href="#">USŁUGI</a>
                        <a class="nav-item nav-link" href="#">REALIZACJE</a>
                        <a class="nav-item nav-link" href="{{ path('about') }}">KONTAKT</a>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</header>

{% block content %}{% endblock %}

<footer class="container-fluid" style="background: #3A3738; background: rgba(0, 91, 147, .9); color: white; padding: 5rem">
    <h3>P.P.U. "eSPa"</h3>
    <div class="col-xs-12 col-md-3">
        <address>
            <h1 style="font-size:20px;">DANE KONTAKTOWE</h1>
            <p><i class="fa fa-institution"></i> PPU "eSPa"</p>
            <hr />
            <p><i class="fa fa-street-view"></i> Paweł Szumski</p>
            <p><i class="fa fa-road"></i> Klementyny Hoffmanowej 1a</p>
            <p><i class="fa fa-building"></i> 78-200 Białogard</p>
            <hr />
            <p><i class="nip">NIP</i> 672-100-60-88</p>
            <hr />
        </address>
    </div>
    <div class="col-xs-12 col-md-3">
        <h1 style="font-size:20px;">TELEFON/FAX</h1>
        <p><i class="fa fa-phone"></i> +48 (94) 312 0867</p>
        <p><i class="fa fa-fax"></i> +48 (94) 312 5539</p>
        <p><i class="fa fa-envelope"></i> espa@espa.com.pl</p>
    </div>
    <div class="col-xs-12 col-md-3">
        <h5>BIURO</h5>
        <p>office@espa.com.pl</p>
        <h5>SPRAWY TECHNICZNE</h5>
        <p>tech@espa.com.pl</p>
        <h5>ZAMÓWIENIA</h5>
        <p>zamowienia@espa.com.pl</p>
    </div>
    <div class="col-xs-12 col-md-3">
        <h5>Karol Szumski</h5>
        <p>k.szumski@espa.com.pl</p>
        <h5>Paweł Szumski</h5>
        <p>p.szumski@espa.com.pl</p>
    </div>
</footer>

{% endblock %}