{% extends 'base.html.twig' %}

{% block body %}

<!-- section bg f7f7f7 -->
<header>

    <div class="container">
        <div class="site-header">
            <div class="container">

                <span class="site-logo">eSPa</span>

                <div class="header-contacts">

                    <hr class="box-separator" />
                    <div class="contact-box">
                        <a class="contact-box-icon" href="tel:+48943120867" style="text-decoration: none">
                            <i class="fa fa-phone"></i>
                            <div class="contact-box-text phone-text">
                                <div class="contact-box-title">TELEFON</div>
                                <div class="contact-box-title">+48 94 312 0867</div>
                            </div>
                        </a>
                    </div>
                    <hr class="box-separator" />
                    <div class="contact-box email">
                        <div class="contact-box-icon">
                            <i class="fa fa-envelope"></i>
                            <div class="contact-box-text">
                                <div class="contact-box-title">EMAIL</div>
                                <div class="contact-box-title">espa@espa.com.pl</div>
                            </div>
                        </div>
                    </div>
                    <hr class="box-separator" />
                    <div class="contact-box">
                        <div class="contact-box-icon">
                            <i class="fa fa-home"></i>
                            <div class="contact-box-text">
                                <div class="contact-box-title">Hoffmanowej 1A</div>
                                <div class="contact-box-title">78-200 Białogard</div>
                            </div>
                        </div>
                    </div>
                    <hr class="box-separator" />

                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row menu m-shadow">
            <nav class="navbar navbar-light bg-faded" data-toggle="affix">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    MENU &#9776;
                </button>
                <div class="collapse navbar-toggleable-md text-xs-center" id="collapsingNavbar">
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link" href="{{ path('homepage') }}">
                            <i class="fa fa-home"></i>
                        </a>
                        <a class="nav-item nav-link" href="{{ path('about') }}">O NAS</a>
                        <a class="nav-item nav-link" href="#">USŁUGI</a>
                        <a class="nav-item nav-link" href="#">REALIZACJE</a>
                        <a class="nav-item nav-link" href="default/contact.html.twig">KONTAKT</a>
                    </div>
                </div>
            </nav>
        </div>

    </div>

</header>

{% block content %}{% endblock %}

<footer class="container-fluid bg-elegant" style="color: white; padding: 5rem">
    <h3>P.P.U. "eSPa"</h3>
    <div class="container bg-inner">
        <div class="col-xs-12 col-md-3">
            <h4>DANE KONTAKTOWE</h4>
            <p><i class="fa fa-institution"></i>PPU "eSPa"</p>
            <p><i class="fa fa-street-view"></i>Paweł Szumski</p>
            <p><i class="fa fa-road"></i>Klementyny Hoffmanowej 1A</p>
            <p><i class="fa fa-building"></i>78-200 Białogard</p>
            <br />
            <p><i class="nip">NIP</i> 672-100-60-88</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4>TELEFON/FAX</h4>
            <p><i class="fa fa-phone"></i>+48 (94) 312 0867</p>
            <p><i class="fa fa-fax"></i>+48 (94) 312 5539</p>
            <p><i class="fa fa-envelope"></i>espa@espa.com.pl</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4>BIURO</h4>
            <p><i class="fa fa-envelope"></i>office@espa.com.pl</p>
            <h4 style="margin-top: 3rem;">SPRAWY TECHNICZNE</h4>
            <p><i class="fa fa-envelope"></i>tech@espa.com.pl</p>
            <h4 style="margin-top: 3rem;">ZAMÓWIENIA</h4>
            <p><i class="fa fa-envelope"></i>zamowienia@espa.com.pl</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4>Karol Szumski</h4>
            <p><i class="fa fa-envelope"></i>k.szumski@espa.com.pl</p>
            <h4 style="margin-top: 3rem;">Paweł Szumski</h4>
            <p><i class="fa fa-envelope"></i>p.szumski@espa.com.pl</p>
        </div>
    </div>
    <div class="col-md-12 copyright">
        © Copyrights 2016 eSPa.
    </div>
</footer>

{% endblock %}