{% extends '::layout.html.twig' %}

{% block title %}Kontakt | {% endblock %}

{% block content %}

<div class="site-title" style="position: relative; background: url({{ asset('images/site-title.png') }}) center center no-repeat; width: 100%; height: 100%; background-size: cover;">
    <div class="container" style="position: relative; z-index: 1">
        <h2>Jak do nas trafić</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
            <li class="breadcrumb-item active">Kontakt</li>
        </ol>
    </div>
</div>

<section id="contact">

    <div class="container">

        <div class="col-md-4">
            <address>
                <h1 class="color-autumn" style="font-size:20px;">INFORMACJE KONTAKTOWE</h1>
                <hr />
                <h6><strong>Adres:</strong></h6>
                <p>
                    P.P.U. "eSPa"<br />
                    Paweł Szumski<br />
                    ul. Klementyny Hoffmanowej 1a<br />
                    78-200 Białogard
                </p>
                <hr />
                <p><strong>NIP:</strong> 672-100-60-88</p>
                <hr />
                <h6><strong>Telefon:</strong></h6>
                <p>
                    <em>tel:</em> +48 (94) 312 0867<br />
                    <em>fax:</em> +48 (94) 312 5539
                </p>
                <hr />
                <h6><strong>E-mail:</strong></h6>
                <p>espa@espa.com.pl
                <p><em>biuro:</em><br />office@espa.com.pl</p>
                <p><em>sprawy techniczne:</em><br />tech@espa.com.pl</p>
                <p><em>zamówienia:</em><br />zamowienia@espa.com.pl</p>
                <p>Karol Szumski<br />k.szumski@espa.com.pl</p>
                <p>Paweł Szumski<br />p.szumski@espa.com.pl</p>
                <hr />
            </address>
        </div>

        <div class="col-md-8">
            <section id="map" class="map-container m-shadow">
                <script>
                    function initMap() {
                        var myLatLng = {lat: 54.003995, lng: 15.993886};

                        var styledMapType = new google.maps.StyledMapType(
                                [
                                    {
                                        "featureType": "landscape",
                                        "stylers": [
                                            {
                                                "saturation": -100
                                            },
                                            {
                                                "lightness": 65
                                            },
                                            {
                                                "visibility": "on"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "poi",
                                        "stylers": [
                                            {
                                                "saturation": -100
                                            },
                                            {
                                                "lightness": 51
                                            },
                                            {
                                                "visibility": "simplified"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "road.highway",
                                        "stylers": [
                                            {
                                                "saturation": -100
                                            },
                                            {
                                                "visibility": "simplified"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "road.arterial",
                                        "stylers": [
                                            {
                                                "saturation": -100
                                            },
                                            {
                                                "lightness": 30
                                            },
                                            {
                                                "visibility": "on"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "road.local",
                                        "stylers": [
                                            {
                                                "saturation": -100
                                            },
                                            {
                                                "lightness": 40
                                            },
                                            {
                                                "visibility": "on"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "transit",
                                        "stylers": [
                                            {
                                                "saturation": -100
                                            },
                                            {
                                                "visibility": "simplified"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "administrative.province",
                                        "stylers": [
                                            {
                                                "visibility": "off"
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "water",
                                        "elementType": "labels",
                                        "stylers": [
                                            {
                                                "visibility": "on"
                                            },
                                            {
                                                "lightness": -25
                                            },
                                            {
                                                "saturation": -100
                                            }
                                        ]
                                    },
                                    {
                                        "featureType": "water",
                                        "elementType": "geometry",
                                        "stylers": [
                                            {
                                                "hue": "#ffff00"
                                            },
                                            {
                                                "lightness": -25
                                            },
                                            {
                                                "saturation": -97
                                            }
                                        ]
                                    }
                                ],
                                {name: 'Styled Map'});

                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: myLatLng,
                            scrollwheel:  false,
                            mapTypeControlOptions: {
                                mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                                    'styled_map']
                            }
                        });

                        map.mapTypes.set('styled_map', styledMapType);
                        map.setMapTypeId('styled_map');

                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            title: 'ESPA'
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBdfX9End5ovq15yd5pXnsZJIR0cF-eqo&callback=initMap">
                </script>
            </section>

            <div class="card m-shadow m-t-3">
                <div class="card-block">

                    <div class="form-header m-shadow-big">
                        <h3><i class="fa fa-envelope"></i> Napisz do nas:</h3>
                    </div>

                    <div class="done" style="display: none;">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Twoja wiadomość została wysłana. Dziękujemy!
                        </div>
                    </div>

                    <form action="" id="main-contact-form" class="form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mc-name" class="sr-only">Imię i Nazwisko</label>
                                <input type="text" class="form-control" id="mc-name" name="mc-name" placeholder="Imię i Nazwisko">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mc-email" class="sr-only">Firma</label>
                                <input type="text" class="form-control" id="mc-company" name="mc-company" placeholder="Firma">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mc-email" class="sr-only">E-mail</label>
                                <input type="text" class="form-control" id="mc-email" name="mc-email" placeholder="E-mail">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mc-email" class="sr-only">Telefon</label>
                                <input type="text" class="form-control" id="mc-phone" name="mc-phone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mc-msg" class="sr-only">Example textarea</label>
                            <textarea class="form-control" id="mc-msg" name="mc-msg" rows="4" placeholder="Wiadomość"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Wyślij</button>
                    </form>

                </div>
            </div>


        </div>

    </div>
</section>

{% endblock %}