{% extends '::layout.html.twig' %}

{% block title %}Usługi | {% endblock %}

{% block content %}

<section id="page-services">
    <div class="row">

    <ul class="list-group list-group-flush col-xs-12 col-md-4">
        <li class="list-group-item current-item">Narzędzia do zakuwania końcówek kablowych</li>
        <li class="list-group-item">Noże odizolowujące</li>
        <li class="list-group-item">Opracowanie i zbrojenie głowic</li>
        <li class="list-group-item">Naprawy i regeneracje urządzeń</li>
    </ul>

    </div>
</section>

{% endblock %}