*, *:before, *:after
    box-sizing: inherit

html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

$color-mist: #90afc5
$color-stone: #336b87
$color-shadow: #2a3132
$color-autumn: #763626

$color-my-black: #3A3738
$color-my-grey-dark: #989898

html, body
    //height: 100%
    background-color: #fefefe
    border-top: 1px solid $color-my-black
    font-family: 'SansPro', sans-serif

.site-wrapper
    padding: 0

//div
    border: 1px solid red

.site-title
    padding: 3rem 0
    margin-bottom: 3rem
    color: #fefefe

//bg image overlay
.site-title:after
    background-color: rgba(0,47,102,0.8)
    content: ''
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

.section-title
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding-top: 5rem
    margin-bottom: 3rem

.section-title::before, .section-title::after
    flex: 1
    content: ''
    height: 1px
    background: $color-shadow
    margin: 0 1em

.breadcrumb
    padding: 0
    margin: 0
    background-color: transparent
    border-radius: 0

// ===============================================
// HEADER

.site-logo
    height: auto
    float: none
    color: #000
    font-family: Georgia, "Times New Roman"
    font-size: 4.25rem
    font-weight: 800
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

.contact-box
    margin-left: .9375rem
    padding: 0 .75rem

.contact-box-icon
    display: flex
    align-items: center
    &:hover
        .fa
            color: $color-my-black
            -webkit-transition: color .5s ease-out
            -moz-transition: color .5s ease-out
            -o-transition: color .5s ease-out
            transition: color .5s ease-out
    > .fa
        line-height: inherit
        float: left
        display: inline-block
        margin-right: .625rem
        font-size: 2.5rem
        color: $color-my-grey-dark
        -webkit-transition: color .5s ease-out
        -moz-transition: color .5s ease-out
        -o-transition: color .5s ease-out
        transition: color .5s ease-out

.contact-box-text
    line-height: 1.25rem
    color: $color-my-black

.contact-box-head
    font-size: 14px

@media (min-width: 992px)
    .header-contacts
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-justify-content: center
        -ms-flex-pack: center
        justify-content: center
        margin-bottom: 2rem
    .email
        border-left: 1px dotted $color-my-grey-dark
        border-right: 1px dotted $color-my-grey-dark
        padding-left: 27px
        padding-right: 27px
    .contact-box-text
        display: flex
        -webkit-flex-direction: column
        -ms-flex-direction: column
        flex-direction: column
    .box-separator
        display: none

@media (min-width: 1200px)
    .header-contacts
        padding: 26.91px 0
    .site-logo
        float: left
    .header-contacts
        -webkit-justify-content: flex-end
        -ms-flex-pack: end
        justify-content: flex-end
        margin-bottom: 0

.navbar
    border-radius: 0
    background-color: #f9f9f9

    -webkit-transition: all .5s ease-out
    -moz-transition: all .5s ease-out
    -o-transition: all .5s ease-out
    transition: all .5s ease-out

.navbar-nav .nav-link
    color: $color-my-black
    font-family: 'Roboto', sans-serif

.navbar-nav
    //display: inline-block
    padding-left: 3rem
    vertical-align: middle



// sticky navbar
@media (max-width: 991px)
    #fix-wrapper
        display: none

@media (min-width: 992px)
    .affix
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 100
        width: 100%
        &.navbar
            background-color: #333

    .affix.navbar .nav-link, .affix.navbar .navbar-brand
        color: #fff

// collapsed
@media (max-width: 34em)
    .navbar
        .navbar-nav
            float: none !important
            > .nav-item
                float: none
                margin-left: .1rem
        .collapse.in, .collapsing
            clear: both

// HEADER
// ===============================================


// ===============================================
// HOME

.carousel-container
    margin-bottom: 5rem
    padding: 0

.carousel-control.left, .carousel-control.right
    background-image: none

.carousel-control .icon-prev, .carousel-control .icon-next
    font-size: 5rem
    top: 10.25rem
    display: flex
    align-self: center

.carousel-control .icon-prev
    color: #fff

.carousel-control .icon-next
    color: #000

.carousel-inner
    min-height: 25rem
    img
        position: absolute
        -webkit-animation-duration: 5s

.carousel-caption
    display: flex
    align-items: center
    top: 0
    height: 25rem
    color: #000
    h1
        font-weight: 400
    h2
        font-weight: 300
    div
        -webkit-animation-duration: 5s
    @media (max-width: 480px)
        h1
            font-size: 1.5rem
        h2
            font-size: 1rem

.c-gradient
    position: absolute
    height: 3.125rem
    background: linear-gradient(to right, rgba(254,254,254,0), rgba(0,91,147,0.9), rgba(254,254,254,0))

.s1
    -webkit-animation-duration: 9s
    animation-fill-mode: forwards
.s2
    -webkit-animation-duration: 8s
    animation-fill-mode: forwards
.s3
    -webkit-animation-duration: 7s
    animation-fill-mode: forwards
.s4
    -webkit-animation-duration: 6s
    animation-fill-mode: forwards
.s5
    -webkit-animation-duration: 5s
    animation-fill-mode: forwards
.s6
    -webkit-animation-duration: 4s
    animation-fill-mode: forwards
.s7
    -webkit-animation-duration: 3s
    animation-fill-mode: forwards
.s8
    -webkit-animation-duration: 2s
    animation-fill-mode: forwards

#activities
    background-color: #f9f9f9
    .card
        display: inline-block // fix for card-columns in bootstrap alpha 4
    .card-title
        color: #fefefe
        font-size: 1.5rem
        line-height: 2rem
        margin-bottom: 0
    .card-subtitle
        margin-top: .5rem
        color: #dedede
    img
        width: 100%
        -webkit-filter: grayscale(50%)
        filter: grayscale(50%)

.partners
    background-color: #E1E0E0

.partner
    padding: 1rem 0
    text-align: center
    color: $color-my-grey-dark
    border-left: 1px dotted #ccc
    border-right: 1px dotted #ccc

    @media (min-width: 768px)
        margin: 1rem
    @media (min-width: 767px) and (max-width: 991px)
        margin: 2rem 0
        padding: 0
    @media (min-width: 992px)
        padding: 2rem 0

// HOME
// ===============================================


// ABOUT
// ===============================================

.nip
    font-style: normal
    font-weight: bold
address
    .fa, .nip
        color: $color-my-grey-dark
address
    h1
        margin-bottom: 25px
    p
        margin: 0 0 10px
        text-align: left
        i
            margin-right: 30px
            width: 16px
            height: 16px
            text-align: center
        .nip
            margin-right: 18.47px
            font-style: normal
            font-weight: bold

.form-header
    color: #fff
    text-align: center
    margin-top: -50px
    margin-bottom: 3rem
    padding: 1rem
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px

.map-container
    width: 100%
    height: 400px
    cursor: hand

.about-img
    padding: 3rem 0
    img
        max-width: 100%
        -webkit-filter: grayscale(50%)
        filter: grayscale(50%)


// ABOUT
// ===============================================


// ===============================================
// FOOTER

footer
    p
        margin-bottom: .75rem
    h4
        font-family: 'SansPro-Semibold'
        font-size: 1rem
        line-height: 1.5
        margin-bottom: .75rem
    .copyright
        color: #E1E0E0
        padding: 2rem 5rem

.footer-icon
    display: inline-block
    color: #fefefe
    text-align: center
    width: 50px
    height: 50px
    line-height: 50px
    font-size: 30px
    border: 1px solid #E1E0E0
    outline: 1px solid #E1E0E0
    outline-offset: 10px
    background-color: $color-my-grey-dark

.hr-line
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-bottom: 2rem

.hr-line::after
    flex: 1
    content: ''
    height: 1.5px
    background: $color-my-grey-dark
    margin: 0 0 0 1em


// FOOTER
// ===============================================


// ===============================================
// FONTS

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Regular.ttf')

@font-face
    font-family: 'SansPro'
    src: url('../fonts/SourceSansPro-Regular.ttf')

@font-face
    font-family: 'SansPro-Bold'
    src: url('../fonts/SourceSansPro-Bold.ttf')

@font-face
    font-family: 'SansPro-Semibold'
    src: url('../fonts/SourceSansPro-Semibold.ttf')

// ======

.m-shadow
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)

.m-shadow-menu
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.32),0 2px 10px 0 rgba(0,0,0,.24)

.m-shadow-big
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)

.m-border
    border-bottom: 1px solid #90afc5

.bg-stylish
    background-color: #4B515D!important

.bg-stylish-dark
    background-color: #3E4551!important

.bg-elegant
    background-color: #2E2E2E!important

.bg-elegant-dark
    background-color: #212121!important

// ====================================

.bg-mist
    background-color: #90afc5
.bg-stone
    background-color: #336b87
.bg-shadow
    background-color: #2a3132
.bg-autumn
    background-color: #763626

.text-mist
    color: #90afc5
.text-stone
    color: #336b87
.text-shadow
    color: #2a3132
.text-autumn
    color: #763626