*, *:before, *:after {
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  background-color: #FEFEFE; }

.site-logo {
  height: auto;
  float: none;
  color: #000;
  font-family: Georgia, "Times New Roman";
  font-size: 4.25rem;
  font-weight: 800;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.contact-box {
  margin-left: 0.9375rem;
  padding: 0 0.75rem; }

.contact-box-icon {
  display: flex;
  align-items: center; }
  .contact-box-icon:hover .fa {
    color: #3A3738; }
  .contact-box-icon > .fa {
    line-height: inherit;
    float: left;
    display: inline-block;
    margin-right: 0.625rem;
    font-size: 2.5rem;
    color: #8A8889; }

.contact-box-text {
  line-height: 1.25rem;
  color: #3A3738; }

@media (min-width: 992px) {
  .header-contacts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2rem; }

  .email {
    border-left: 1px dotted #8A8889;
    border-right: 1px dotted #8A8889;
    padding-left: 27px; }

  .contact-box-text {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .box-separator {
    display: none; } }
@media (min-width: 1200px) {
  .header-contacts {
    padding: 26.91px 0; }

  .site-logo {
    float: left; }

  .header-contacts {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 0; } }
.navbar {
  border-radius: 0;
  background-color: #f9f9f9;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.navbar-light .navbar-nav .nav-link {
  color: #3A3738;
  font-family: "Roboto", sans-serif; }

.navbar-nav {
  display: inline-block;
  vertical-align: middle; }

.affix {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%; }
  .affix.navbar {
    background-color: #333; }

.affix.navbar .nav-link, .affix.navbar .navbar-brand {
  color: #fff; }

@media (max-width: 34em) {
  .navbar .navbar-nav {
    float: none !important; }
    .navbar .navbar-nav > .nav-item {
      float: none;
      margin-left: 0.1rem; }
  .navbar .collapse.in, .navbar .collapsing {
    clear: both; } }
.carousel-container {
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 5rem; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.carousel-control .icon-prev, .carousel-control .icon-next {
  font-size: 5rem;
  top: 10.25rem;
  display: flex;
  align-self: center; }

.carousel-control .icon-prev {
  color: #fff; }

.carousel-control .icon-next {
  color: #000; }

.carousel-inner {
  min-height: 25rem; }
  .carousel-inner img {
    position: absolute;
    -webkit-animation-duration: 5s; }

.shadow {
  position: absolute;
  height: 3.125rem;
  background: linear-gradient(to right, black, rgba(0, 91, 147, 0.9), rgba(255, 255, 255, 0));
  animation-fill-mode: forwards; }

.s1 {
  -webkit-animation-duration: 9s; }

.s2 {
  -webkit-animation-duration: 8s; }

.s3 {
  -webkit-animation-duration: 7s; }

.s4 {
  -webkit-animation-duration: 6s; }

.s5 {
  -webkit-animation-duration: 5s; }

.s6 {
  -webkit-animation-duration: 4s; }

.s7 {
  -webkit-animation-duration: 3s; }

.s8 {
  -webkit-animation-duration: 2s; }

.carousel-caption {
  display: flex;
  align-items: center;
  top: 0;
  height: 25rem;
  color: black; }
  .carousel-caption h1 {
    font-weight: 800; }

.partners {
  background-color: #E1E0E0; }

.partner {
  padding: 1rem 0;
  text-align: center;
  color: #8A8889;
  font-family: Lato-Black;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc; }
  @media (min-width: 768px) {
    .partner {
      margin: 1rem; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .partner {
      margin: 2rem 0;
      padding: 0; } }
  @media (min-width: 992px) {
    .partner {
      padding: 2rem 0; } }

address .fa, address .nip {
  color: #8A8889; }

address h1 {
  margin-bottom: 25px; }
address p {
  margin: 0 0 10px;
  text-align: left; }
  address p i {
    margin-right: 30px;
    width: 16px;
    height: 16px;
    text-align: center; }
  address p .nip {
    margin-right: 18.47px;
    font-style: normal;
    font-weight: bold; }

.form-header {
  color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 3rem;
  padding: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.map-container {
  width: 100%;
  height: 400px;
  cursor: hand; }

footer {
  font-family: Roboto;
  border-top: 1px solid #000;
  background: #3A3738; }
  footer .bg-inner {
    background-color: #fefefe;
    color: #000;
    box-shadow: 5px 2px 10px #000; }
  footer p {
    margin: 0;
    line-height: 2rem; }
  footer i {
    text-align: center; }
  footer .fa, footer .nip {
    width: 2rem;
    height: auto; }
  footer .nip {
    padding-left: 0.5rem;
    font-style: normal;
    font-weight: bold; }
  footer h3 {
    padding: 0 0 15px 15px;
    border-bottom: 1px dotted #fefefe; }
  footer h4 {
    margin: 1rem 0;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px; }
  footer .copyright {
    color: #E1E0E0; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf"); }
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"); }
.m-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.m-shadow-big {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.bg-stylish {
  background-color: #4B515D !important; }

.bg-stylish-dark {
  background-color: #3E4551 !important; }

.bg-elegant {
  background-color: #2E2E2E !important; }

.bg-elegant-dark {
  background-color: #212121 !important; }

/*# sourceMappingURL=style.css.map */
