=flex
    display: -webkit-flex     /* NEW - Chrome */
    display: -ms-flexbox      /* TWEENER - IE 10 */
    display: flex             /* NEW, Spec - Opera 12.1, Firefox 20+ */

*, *:before, *:after
    box-sizing: inherit

html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

$color-mist: #90afc5
$color-stone: #336b87
$color-shadow: #2a3132
$color-autumn: #763626

$color-my-black: #3A3738
$color-my-grey-dark: #989898

html, body
    color: #000
    background-color: #fefefe
    border-top: 1px solid $color-my-black
    font-family: 'OpenSans', sans-serif

    //background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em)
    //background-size: 100% 1.2em

.site-wrapper
    padding: 0

//div
    border: 1px solid red

.site-title
    padding: 3rem 0
    color: #fefefe

//bg image overlay
.site-title:after
    //background-color: rgba(0,47,102,0.8)
    background-color: rgba(0,69,125,.8)
    content: ''
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

.section-title
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 4rem 0

//.section-title::before, .section-title::after
    flex: 1
    content: ''
    height: 1px
    background: $color-shadow
    //background: #fefefe
    margin: 0 1em

.breadcrumb
    padding: 0
    margin: 0
    background-color: transparent
    border-radius: 0

// ===============================================
// HEADER

.site-header
    padding-top: 1rem
    a
        text-decoration: none

.site-logo
    height: auto
    float: none
    color: #000
    font-family: Georgia, Times, "Times New Roman", serif
    font-size: 4.25rem
    font-weight: 800
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

.contact-box
    display: inline-block
    margin-left: .9375rem
    padding: 0 .75rem

.contact-box-icon
    +flex
    align-items: center
    &:hover
        .fa
            color: $color-my-black
            -webkit-transition: color .5s ease-out
            -moz-transition: color .5s ease-out
            -o-transition: color .5s ease-out
            transition: color .5s ease-out
    > .fa
        font: normal normal normal 40px/1 FontAwesome
        line-height: inherit
        float: left
        display: inline-block
        margin-right: .625rem
        color: $color-my-grey-dark
        -webkit-transition: color .5s ease-out
        -moz-transition: color .5s ease-out
        -o-transition: color .5s ease-out
        transition: color .5s ease-out

.contact-box-text
    color: $color-my-black
    font-size: 14px

.navbar
    border-radius: 0
    background-color: #f9f9f9

    //border-bottom: 1px solid #90afc5

    -webkit-transition: all .5s ease-out
    -moz-transition: all .5s ease-out
    -o-transition: all .5s ease-out
    transition: all .5s ease-out

.navbar-nav
    vertical-align: middle
    .nav-lang
        float: right

.navbar-nav .nav-link
    color: $color-my-black
    font-family: 'Roboto', sans-serif

.navbar-nav
    .dropdown-toggle
        padding: 0
        border: none
        background: transparent

@media (min-width: 992px)
    .sticky.is-sticky
        position: fixed
        top: 0
        z-index: 100
        width: 100%
        background-color: $color-shadow
        .nav-link
            color: #fefefe

@media (max-width: 991px)
    .sticky-wrapper
        display: none

// HEADER
// ===============================================


// ===============================================
// HOME

.carousel-container
    padding: 0

.carousel-control.left, .carousel-control.right
    background-image: none

.carousel-control .icon-prev, .carousel-control .icon-next
    font-size: 5rem
    top: 10.25rem
    display: flex
    align-self: center

.carousel-control .icon-prev
    color: #fff

.carousel-control .icon-next
    color: #000

.carousel-inner
    min-height: 25rem
    img
        position: absolute
        -webkit-animation-duration: 5s

.carousel-caption
    display: flex
    align-items: center
    top: 0
    height: 25rem
    color: #000
    text-shadow: none
    h1
        font-weight: 400
    h2
        font-weight: 300
    @media (max-width: 480px)
        h1
            font-size: 1.5rem
        h2
            font-size: 1rem

.c-gradient
    position: absolute
    //height: 3.125rem
    height: 50px
    background: linear-gradient(to right, rgba(254,254,254,0), rgba(0,91,147,0.9), rgba(254,254,254,0))

.s1
    -webkit-animation-duration: 9s
    animation-duration: 9s
    animation-fill-mode: both
.s2
    -webkit-animation-duration: 8s
    animation-duration: 8s
    animation-fill-mode: both
.s3
    -webkit-animation-duration: 7s
    animation-duration: 7s
    animation-fill-mode: both
.s4
    -webkit-animation-duration: 6s
    animation-duration: 6s
    animation-fill-mode: forwards
.s5
    -webkit-animation-duration: 5s
    animation-duration: 5s
    animation-fill-mode: forwards
.s6
    -webkit-animation-duration: 4s
    animation-duration: 4s
    animation-fill-mode: forwards
.s7
    -webkit-animation-duration: 3s
    animation-duration: 3s
    animation-fill-mode: forwards
.s8
    -webkit-animation-duration: 2s
    animation-duration: 2s
    animation-fill-mode: forwards

.w1
    width: 650px
.w2
    width: 600px
    margin-top: 50px
.w3
    width: 550px
    margin-top: 100px
.w4
    width: 500px
    margin-top: 150px
.w5
    width: 450px
    margin-top: 200px
.w6
    width: 400px
    margin-top: 250px
.w7
    width: 350px
    margin-top: 300px
.w8
    width: 300px
    margin-top: 350px


// ACTIVITIES

#activities
    margin-top: 5rem
    .site-title
        padding: 4rem 0
    h2
        margin: 0
    .card
        margin-top: 2rem
        //box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
        //box-shadow: 0 0 17px 0 rgba(0,0,0,.2)
        border: none
    .stripe
        box-shadow: 0 0 17px 0 rgba(0,0,0,.2)
        background: linear-gradient(to right, rgba(254,254,254,0), rgba(0,91,147,.5), rgba(254,254,254,0))
    .blue-stripe
        position: relative
        height: 30px
        background: linear-gradient(to right, rgba(254,254,254,0), rgba(0,91,147,0.9), rgba(254,254,254,0))
        opacity: .1
        box-shadow: 0 0 17px 0 rgba(0,0,0,.2)
    .blue-stripe.dark
        opacity: .2
    .blue-stripe.darker
        opacity: .3

.partners
    background-color: #E1E0E0

.partner
    padding: 1rem 0
    text-align: center
    color: $color-my-grey-dark
    border-left: 1px dotted #ccc
    border-right: 1px dotted #ccc

    @media (min-width: 768px)
        margin: 1rem
    @media (min-width: 767px) and (max-width: 991px)
        margin: 2rem 0
        padding: 0
    @media (min-width: 992px)
        padding: 2rem 0

// HOME
// ===============================================


// ===============================================
// ABOUT

#about_us
    margin-top: 3rem

.about-img img
    max-width: 100%
    -webkit-filter: grayscale(50%)
    filter: grayscale(50%)
    margin: 4rem 0
    box-shadow: 0 8px 17px 0 #000,0 6px 20px 0 #000
    //padding: 4rem .5rem
    //background-color: #fefefe
    //border: 50px dashed rgb(0,91,147)

// ABOUT
// ===============================================


// ===============================================
// SERVICES

#page-services
    margin-top: 3rem
    .list-group
        .list-group-item
            border: none
            padding: 1.25rem
            margin-bottom: 2px
            background-color: #f0f0f0
        .list-group-item:hover, .current-item
            color: #fefefe
            background: linear-gradient(to right, #003356, rgb(0,91,147))
            -webkit-transition: all .2s ease
            -moz-transition: all .2s ease
            -o-transition: all .2s ease
            transition: all .2s ease

// SERVICES
// ===============================================


// ===============================================
// CONTACT

#contact
    margin-top: 3rem
    em
        font-style: normal
        color: #666

.form-header
    text-align: center
    margin-top: -50px
    margin-bottom: 3rem
    padding: 1rem
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    color: #fefefe
    background-color: $color-shadow

.map-container
    width: 100%
    height: 400px
    cursor: hand

// CONTACT
// ===============================================


// ===============================================
// FOOTER

footer
    p
        margin-bottom: .75rem
    h4
        font-weight: 600
        font-size: 1rem
        line-height: 1.5
        margin-bottom: .75rem
    .nip
        font-style: normal
        font-weight: bold
    .copyright
        padding: 2rem 5rem
        color: #E1E0E0
        background-color: $color-shadow

.footer-icon
    display: inline-block
    color: #fefefe
    text-align: center
    width: 50px
    height: 50px
    line-height: 50px
    font-size: 30px
    border: 1px solid #E1E0E0
    outline: 1px solid #E1E0E0
    outline-offset: 10px
    background-color: $color-my-grey-dark

.hr-line
    +flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-bottom: 2rem

.hr-line::after
    flex: 1
    display: inline-block // IE 11
    content: ''
    height: 1.5px
    background: rgba(0,0,0,.1)
    margin: 0 0 0 1em


// FOOTER
// ===============================================


// ===============================================
// MEDIA

@media (min-width: 768px)
    .header-contacts, .site-logo
        +flex
        -webkit-justify-content: center
        -ms-flex-pack: center
        justify-content: center
        margin-bottom: 2rem
    .email
        border-left: 1px dotted $color-my-grey-dark
        border-right: 1px dotted $color-my-grey-dark
        padding-left: 27px
        padding-right: 27px
    .contact-box-text
        +flex
        -webkit-flex-direction: column
        -ms-flex-direction: column
        flex-direction: column
    .box-separator
        display: none
    .navbar-nav
        text-align: center
        > .nav-item
            float: none
            display: inline-block
    .carousel-caption
        left: 10%
        right: 10%
    footer
        font-size: 95%

@media (min-width: 992px)
    .header-contacts
        padding: 26.91px 0
    .site-logo
        float: left
    .header-contacts
        -webkit-justify-content: flex-end
        -ms-flex-pack: end
        justify-content: flex-end
        margin-bottom: 0
    .navbar-nav
        > .nav-item
            float: left

// MEDIA
// ===============================================


// ===============================================
// FONTS

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Regular.ttf')

@font-face
    font-family: 'OpenSans'
    src: url('../fonts/OpenSans-Regular.ttf')

// ===============================================
// UTILS

.flex-center
    +flex
    justify-content: center
    align-items: center

.disable-select
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.m-shadow
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)

.m-shadow-menu
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.32),0 2px 10px 0 rgba(0,0,0,.24)

.m-shadow-big
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)

.m-border
    border-bottom: 1px solid #90afc5

.bg-stylish
    background-color: #4B515D!important

.bg-stylish-dark
    background-color: #3E4551!important

.bg-elegant
    background-color: #2E2E2E!important

.bg-elegant-dark
    background-color: #212121!important

// ====================================

.bg-mist
    background-color: #90afc5
.bg-stone
    background-color: #336b87
.bg-shadow
    background-color: #2a3132
.bg-autumn
    background-color: #763626

.color-mist
    color: #90afc5
.color-stone
    color: #336b87
.color-shadow
    color: #2a3132
.color-autumn
    color: #763626